@font-face {
  font-family: 'kanit';
  src: url(/assets-metropolis/fonts/kanit-bold.woff) format(woff),url(/assets-metropolis/fonts/kanit-bold.woff2)format(woff2),
  url(/assets-metropolis/fonts/kanit-semibold.woff)format(woff),url(/assets-metropolis/fonts/kanit-semibold.woff2)format(woff2);
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'kanit';
  list-style: none;
  text-decoration: none;
  background-color: black;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  position: relative;
  opacity: 0;
  animation: navbaranimate 1.5s ease-in-out forwards;

  @keyframes navbaranimate {
    0%{
      transform: translateY(-10%);
      opacity: 0;
    }
    100%{
      transform: translateY(0);
      opacity: 1;
    }
  }
  ul{
    display: flex;
    gap: 10px;
    padding: 0 20px 0 20px;
    color: white;

  }
  .millieu{
    color: white;
    display: flex;
    flex-direction: column;
    h1{
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
    }
    h2{
      font-family: 'Noto Serif', serif;;
    }
  }
  
}

.hero{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1{
    text-transform: uppercase;
    font-size: 5em;
    color: white;
    overflow: hidden;
    span{
      display: inline-block;
      animation: titleanimation 1s - 300ms ease-in-out forwards;
    }
  }
  .second{
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: white;
    color: black;
    span{
      display: inline-block;
      animation: titleanimation 1s + 500ms - 300ms ease-in-out forwards;
    }
  }
  @keyframes titleanimation {
    0%{
      transform: translateY(100%);
    }
    100%{
      transform: translateY(0);
    }
  } 
}


.container{
  width: 100vw;
  height: calc(100vh - 100px - (5em*2));
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3px;
  overflow: hidden;
  .img-1{
    background-image: url(/assets-metropolis/1.jpeg);
    background-size: cover;
    animation: imgAnimate 1s ease-in-out forwards;
   
  }
  .img-2{
    background-image: url(/assets-metropolis/2.jpeg);
    background-size: cover;
    animation: imgAnimate 1s + 500ms - 300ms ease-in-out forwards;
  }
  .img-3{
    background-image: url(/assets-metropolis/3.jpeg);
    background-size: cover;
    animation: imgAnimate 1s + 1s - 300ms  ease-in-out forwards;

  }
  @keyframes imgAnimate {
    0%{
      transform: translateY(100%);
    }
    100%{
      transform: translateY(0);
    }
    
  }
}